<!DOCTYPE html>
<html ng-app="ngTutorial">
  <head>
    <title>Angular Tutorial</title>
    <link rel='stylesheet' href='/less/style.css' />
  </head>
  <body ng-controller="MainCtrl">
    <a href="/#/">Home</a>
    <a href="/#people">People</a>
    <a href="/#add">Add</a>

    <ng-view></ng-view>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    <script src="/javascripts/app.js"></script>

  </body>

</html>
